/* line 1, calculator.scss */
textarea {
  border-right: 2px solid;
  box-sizing: border-box;
  font-size: 2.5em;
  height: 60px;
  padding: 2px 5px;
  resize: none;
  text-align: right;
  width: 100%;
}

/* line 12, calculator.scss */
.number {
  padding: 0;
  height: 100%;
  list-style: outside none none;
  margin: 0;
}
/* line 18, calculator.scss */
.number li {
  background-color: #eaeaea;
  box-sizing: border-box;
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;
  color: red;
  cursor: pointer;
  display: -webkit-inline-box;
  font-size: 2.5em;
  float: left;
  height: 20%;
}
/* line 30, calculator.scss */
.number li.function {
  color: #d77a3d;
  background-color: #F0FFCC;
}
/* line 35, calculator.scss */
.number li.special {
  color: #ff6600;
  background-color: #FFF0BB;
}
/* line 40, calculator.scss */
.number li paper-button {
  display: block;
  height: 100%;
  margin: auto;
  min-width: 0;
  width: 100%;
}

/* line 50, calculator.scss */
.three-quarter-width {
  width: 75%;
}

/* line 54, calculator.scss */
.quarter-width {
  width: 25%;
}

/* line 58, calculator.scss */
.half-width {
  width: 50%;
}

/* line 62, calculator.scss */
.right {
  float: right;
}
